.compassContainer {
  background-color: red;
  height: 40vw;
  width: 40vw;
  background: url(../../assets/compassone.png);
  background-size: 100%;
  margin: auto;
  border: 2px solid black;
  margin-top: 0px;
  margin-top: 194px;
  position: relative;
}

.needleone {
  // height: 120px;
  // width: 150px;
  height: 15%;
  width: 35%;
  position: absolute;
  transform: rotateY(98deg) rotateZ(40deg);
  // height: 17%;
  // width: 135px;
  height: 13%;
  width: 30%;
  position: absolute;
  transform: rotateY(98deg) rotateZ(43deg);
  background-image: linear-gradient(
    to top left,
    #0e25f3 51%,
    #5021f8 40%,
    #d11b1b 50%,
    #e41313 91%
  );
  // top: 36%;
  // right: 31%;
  top: 30%;

  left: 35%;
}
